* {
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    height: 550px;
    background: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0,0.6) ),
                url("https://i.imgflip.com/7kx22g.jpg") center/cover no-repeat;
}

.hero-title {
  max-width: 550px;
  line-height: 1.2;
  color: #ffffff; 
}

/*Main Colors for the webssite*/

.accent1 {
  color: #1458df; /* first color */
}

.accent2 {
  color: #0f9d46    ; /* second color */
}

.accent1,
.accent2 {
    letter-spacing: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
}

:root {
    --accent1: #1458df; /* your first color */
    --accent2: #0f9d46; /* your second color */
}

/* Navbar Link */
.nav-link {
    font-weight: 500;
    color: #555;
    transition: .3s ease;
}

.nav-link:hover {
    color: #00B2FF;
}

.nav-link.active {
    color: #00B2FF !important;
    font-weight: 600;
    border-bottom: 2px solid #00B2FF;
    padding-bottom: 5px;
}
/*Navbar Toggle*/
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Hover Card Effects */
.card-hover:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* Animation */
.animate-fade {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.animate-fade-delay {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}
.animate-slide {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1.2s forwards;
}
.animate-scale:hover {
    transform: scale(1.08);
}


/* Scroll Margin for Sections */
#destinasi {
    scroll-margin-top: 120px; /* adjust based on navbar height */
}
#aboutus {
    scroll-margin-top: 150px; /* adjust based on navbar height */
}
#kontak {
    scroll-margin-top: 150px; /* adjust based on navbar height */
}
#hero {
    scroll-margin-top: 150px; /* adjust based on navbar height */
}

.bggreen {
    background-color: #0f9d46; /* second color */
}


@keyframes fadeIn {
    to { opacity: 1; }
}
@keyframes slideUp {
    to { opacity: 1; transform: translateY(0); }
}
